<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybean="http://mybeanconfiguration/oneConfiguration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://mybeanconfiguration/oneConfiguration
                http://mybeanconfiguration/oneConfiguration/mybean.xsd">

    <!-- mybean.xsd 文件中必须指定id属性，否则会抛出异常 -->
    <mybean:rule id="oneConfiguration" name="张麻子" phone="10086" girlFriends="小张,小李,小王"/>
</beans>